* {
    border-radius: 20px;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    width: 100%;
}

.container {
    height: 90%;
    display: flex;
    width: 80%;
    background: white;
    padding: 15px;
    border: 1px solid black;
    gap: 10px;
}

.section {
    flex: 1;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    width: 33.3%;
    justify-content: center;
}

#clientDetails {
    flex-direction: column;
}

#clientDetails p {
    position: relative;
    bottom:10%;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputs select {
    border: 1px solid red;
    padding: 5px;
    width: 45%;
}

table {
    width: 70%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid red;
    text-align: center;
    padding: 5px;
}

#weight {
    border: 1px solid red;
    width: 45%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #2264e5;
    color: white;
}

.total {
    border: 1px solid #2264e5;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 50%;
}

button:hover {
    position: relative;
    bottom: 2px;
}