* {
    border-radius: 20px;
    font-size: large;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    background: white;
    border: 1px solid black;
    gap: 10px;

}

.section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    width: 30%;
}

#previous{
    margin: 5px 0px 5px 5px;
}

#clientDetails {
    flex-direction: column;
    margin: 5px 5px 5px 0px;
}

#makeOrder{
    margin: 5px 0px;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

select {
    border: 1px solid red;
    margin: 10px;
    width: 100%;
}

input {
    width: 100%;
    border: 1px solid red;
    margin:0px 10px 10px;
}


table {
    width: 70%;
    border-collapse: collapse;
    margin: 5px 50px;
}

table,
th,
td {
    border: 1px solid red;
    align-items: center;
    padding: 5px;
}



button {
    width: fit-content;
    position: relative;
    right: 35%;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #2264e5;
    color: white;
    margin: 5px;
}

/* .total {
    border: 1px solid #2264e5;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 50%;
}

button:hover {
    position: relative;
    bottom: 2px;
} */